
/*Core style*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #cc9da5;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

.nav {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.nav .active {
  color: white;
}

.nav .logo {
  display: inline-block;
  padding: 10px;
  float: left;
}

.nav input[type=checkbox] {
	opacity: 0;
	float: right;
	z-index: 1
}

.nav label {
	float: right;
	margin: 10px 30px;
  display: inline-block;
	cursor: pointer;
	z-index: 2;
}

/* Styles Button */

.nav-btn span {
	display: block;
	position: relative;
	width: 28px;
	height: 3px;
	margin: 5px 0;
	background: #fff;
	/*border-radius: 6px;*/
	z-index: 1;
}

/*.nav .subnav {
  display: block;
  position: relative;
  overflow: hidden;
}

.nav .hamburger {
  display: inline-block;
  float: right;
  cursor: pointer;
  padding: 10px 16px;
}


.nav ul {
  display: none;
  padding: 1em;
  float: right;
  list-style-type: none;
  margin: 0;
}

.nav .subnav:hover ul {
  display: block;
}

.hamburger:hover + ul{
  display: block;
}

.nav .subnav:hover .hamburger {
  opacity: 0;
  transition: opacity 1s;
}

.nav ul li {
  float: none;
  margin: 10px 0px;
  padding: 0;
}
.nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 16px;
  color: #986965;
  border: 1px solid rgba(0,0,0,0);
  transition: border 1s;
}
.nav ul li a:hover {
  border: 1px solid white;
  color: white;
  transition: 0.3s;
}*/

.nav ul.menu {
	display: none;
	position: absolute;
	width: 100%;
  background-color: #cc9da5;
	margin: 0 auto;
	padding: 0;
}

.nav ul.menu li {
  float: none;
  margin: 10px 20px;
  padding: 0;
  /*padding: 20px;*/
  list-style: none;
  /*font-weight: 400;*/
  font-size: 1.2em;
  line-height: .7em;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  line-height: .7em;
}
.nav ul.menu li a {
  display: block;
  text-decoration: none;
  padding: 20px 16px;
  /*color: #986965;*/
  color: #f0f0f0;
  border: 1px solid rgba(0,0,0,0);
  transition: border 1s;
}
.nav ul.menu li a:hover {
  border: 1px solid white;
  color: white;
  transition: 0.3s;
}

/*ul.menu a:hover {
	display: block;
	background:#3b475c;
	padding:10px 0 10px 0
}*/


/*ul.menu li {
list-style: none;
padding: 20px;
font-weight: 400;
font-size: 1.2em;
line-height: .7em;
letter-spacing: 2px;
text-align: center;
color: #fff;

}*/

.nav ul.menu {
	padding-top: 80px;
	padding-bottom: 20px;
}

/* Toggles Button */

.nav input[type=checkbox]:checked ~ ul.menu {
   display: block;
}

/* Hides menu when clicked outside... thanks to @pimskie! */
.nav input[type=checkbox]:checked:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  background: red;
}

/*@media screen and (max-width: 600px) and (min-width: 320px) {

	label {
		margin: 50px;
	}

	.logo img {
		padding-top: 100px;
	}


}

@media screen and (max-width: 500px) {

	.cta {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 400px;
		padding: 10px 0 0 0;
		margin: 0 auto;
		justify-content: center;
	}

	a.primary {
		width: 100%;
		max-width: 250px;
	}

	a.secondary {
		width: 100%;
		max-width: 250px;
		margin: 25px 0 40px 0;
	}
}*/

@media only screen and  (min-width: 700px) {
  /*.nav .hamburger {
    display: none;
  }*/

  .nav input[type=checkbox] {
    display: none;
  }

  .nav label {
    display: none;
  }
  .nav {
    position: relative;
  }
  .nav ul.menu {
    display: inline;
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    float: right;
    width: auto;
  }
  .nav ul.menu li {
    float: left;
    margin: 0;
  }

}

.arab-main {
  color: #986965;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: #986965;
  color: white;
  border: 1px solid #eee;
  text-decoration: none;
  padding: 1em 1.618em;
  margin: .5em 0;
}

.btn:hover {
  background: white;
  color: #986965;
}

#showcase {
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background-color: #cc9da585;
  background-blend-mode: multiply;
  background-image: url('/img/familly.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  /*top: 10px;*/
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .arrow-down {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 100px;
  animation: 2s arrowDown linear infinite;
}

@keyframes arrowDown {
  0%{
    transform: translateY(-50px);
    opacity: 0;
  },
  50%{
    opacity: 1;
    transform: translateY(0px) scale(1.5);
  },
  100%{
    transform: translateY(50px);
    opacity: 0;
  }
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

#section-a {
  background: white;
  color: #333;
  padding-bottom: 2em;
}

#section-a p {
  text-align: justify;
}

#section-a .content-wrap
{
  padding: 1.5em 2.5em;
}

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background-color: #986965;
}

.card-content {
  padding: 1.5em;
}

/*Section C*/
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}
#section-c p.quote{
  font-family: 'Poiret One', cursive;
}

/*Section D*/
#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #986965;
}

#section-d .box .contact {
  padding-top: 2em;
}
#section-d .box .contact i {
  color: black;
}
#section-d .box:nth-child(2) {
  display: none;
}

/*Footer*/
#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a{
  color: #986965;
  text-decoration: none;
}

/*Media Queries*/

/*@media(min-width: 700px){*/
@media only screen and (min-width:700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  .box, #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li {
    width: 30%;
  }

  #section-d .box:nth-child(2) {
    display: block;
  }
}

/*Participate*/
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.registration ul {
  list-style: none;
  padding: 0;
}

.registration .logo {
  max-width: 100px;
}

.brand {
  text-align: center;
  display: inline-block;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(10, 10 ,100, 0.7);

}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background: #986965;
}

.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
.company-info ul li {
  padding: 1em;
}

.registration .contact {
  background: #f9feff;
  color: #3e3e3e;
}

.registration .contact h3 {
  text-transform: uppercase;
}

/*Form Styles*/

.registration .contact form {
  text-align: left;
  display: grid;
  grid-gap: 20px;
  color: #986965;
}

.registration .contact form label{
  display: block;
}

.registration .contact form p {
  margin: 0;
}

.registration .contact form button,
.registration .contact form input,
.registration  .contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #cc9da5;
}

.registration .contact form input[type=radio] {
  width: 20px;
}

.registration .contact form button{
  background: #986965;
  border: 0;
  text-transform: uppercase;
  border: 1px solid #986965;
}

.registration .contact form button:hover,
.registration .contact form button:focus {
  background: white;
  color: #986965;
  cursor: pointer;
  outline: 0;
  transition: background-color 2s ease-out;
}

/*Large Screens*/
@media only screen and (min-device-width:700px) and (min-width:700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > *{
    padding: 2em;
  }
  .company-info h3, .company-info ul {
    text-align: left;
  }
  .company-info .brand {
    display: block;
  }
}

@media only screen and (min-device-width:860px) and (min-width:860px){
  .registration .contact form .full {
    grid-column: 1 / 3;
  }
}

.alert {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #277868;
  color: white;
  display: none;
}
