/*Archive*/
#archive {
  padding: 2em 1em 1em;
}

#archive ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#archive li {
  margin-bottom: 1em;
  background-color: #986965;
}

#archive ul.menu > li {
  position: relative;
}

#archive .card ul.gallery li{
  display: none;
}

#archive .card ul.gallery li:nth-child(1) {
  display: block;
}

#archive .view i {
  position: absolute;
  /*opacity: 0.5;*/
  right: 20px;
  top: 10px;
  transition: 0.3s;
}
#archive .view i.fa-external-link {
  opacity: 0;
}

#archive .card input[type="checkbox"]{
  display: none;
}

#archive .card label{
	margin: 0;
  padding: 0;
  display: block;
	cursor: pointer;
	z-index: 2;
}

#archive .card ul.gallery{
  display: none;
}

#archive .card input[type=checkbox]:checked ~ ul.gallery {
  display: block;
}

#archive .card input[type=checkbox]:checked ~ label .view img{
  display: none;
}

#archive .card input[type=checkbox]:checked ~ label .view i.fa-eye{
  transition: 0.3s;
  opacity: 0;
}
#archive .card input[type=checkbox]:checked ~ label .view i.fa-external-link{
  transition: 0.3s;
  opacity: 1;
}

#archive .card input[type=checkbox]:checked:after {
  display: none;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: inherit;
}

@media only screen and (min-width:700px) {
  #archive .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
  }

  #archive ul.menu {
    grid-column: 2/4;
  }

  #archive ul.menu {
    display: flex;
    justify-content: space-around;
  }
  #archive ul.menu > li {
    width: 30%;
  }

}
